<!-- views/header.ejs -->
<div style="background-color: black; color: white; padding: 10px; display: flex; justify-content: space-between; align-items: center; position: fixed; top: 0; width: 100%; z-index: 100;">
  <a href="/" style="color: white; text-decoration: none;">回到主页</a>
  <form action="/search" method="GET" style="margin-left: auto;">
    <input type="text" name="q" placeholder="搜索文章、标签或作者" style="margin-right: 10px;">
    <button type="submit">搜索</button>
  </form>
</div>

<link rel="icon" type="image/png" href="/images/favicon.png">


